/node_modules
/public/hot
/public/storage
/storage/*.key
vendor/acacha/admin-lte-template-laravel/resources/lang/es
vendor/acacha/admin-lte-template-laravel/resources/lang/en
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
